body {
    background: #e9e9e9;
}

.imgBlack {
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 100%;
  width: 90px;
  height: 90px;
}

.card {
  width: auto;
}

.bg-linkedin {
  background: #e9e9e9;
  border-radius: 0.5rem;
  height: 2rem;
  text-align: center;
  width: 15rem;
}

#button {
  background: none;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 0.5rem;
}

#button:hover {
  background: #e9e9e9;
  transition: all 0.5s;
}

.displayNone {
  display: none;
}
